__pycache__
.r2d
db
rb_data
tmp/
yolo_dataset/
yaml/
complete_model/*
runs/
inference.py
*.png
*.zip
*.pt
build/
dist/
complete_model/
main_testing.spec
pdf_convert.py
myreadme.txt
todo.txt
Output/
setup.iss
logs/